*.js linguist-language=java
*.css linguist-language=java
*.html linguist-language=java
*.log linguist-language=java
*.yaml linguist-language=java
*.lock linguist-language=java
*.png linguist-language=java
*.pom linguist-language=java
